node_modules
.env

#Buidler files
cache
artifacts
artifacts-ovm
cache-ovm
artifacts-zk
cache-zk

dist

package-lock.json
yarn.lock

abi/*
data/*
scripts/deployAndSetupHop/deploy_config.json

contracts.sublime-workspace
contracts.sublime-project
.DS_Store